/* Navbar.css */
.navbar {
    background: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    backdrop-filter: blur(16px);
    z-index: 100;
}
.logo {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 2rem 0 1rem;
}

.nav-labels {
    display: flex;
    gap: 20px;
}

.nav-label {
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}
